<head>
    <link href="{{ url_for('static',filename="bootstrap-3.3.7-dist/css/bootstrap.min.css")}}" rel="stylesheet" />
</head>
<body>
    <div>
        {% block header %}
        <p><a href="/">index</a></p>
        {% endblock %}
    </div>
    <div>{% block content %} {% endblock %}</div>
    <div id="footer">
        &copy; CopyRight by <a href="http://github.com/xizhongzhao">xizhong</a>
    </div>
    <script src="{{ url_for('static',filename="bootstrap-3.3.7-dist/js/bootstrap.min.js") }}">
    </script>
</body>
